<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic Express Test</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Express App Test
      </h1>
    </header>

    <main>
      <div>
        <ul>
          <li>
         <a href= "/aboutme">View the about me page</a>
          </li>
          <li>
            <a href= "/campgrounds">View my favourite campgrounds</a> 
          </li>
        </ul>
        
      </div>
     
      <p class="bold">John Michalenko</p>
      
      
  </body>
</html>
